<html>
    <body>
        <form action="/forgotpassword" method="POST">
            <input type="email" name="email" value="email">
            <input type="submit">
        </form>
    </body>
</html>