<html>
    <body>
        <form action="/resetpassword" method="POST">
            <input type="hidden" name="id" value={{id}}>
            <input type="password" name="password" value="password">
            <input type="password" name="confirm" value="confirm">
            <input type="submit">
        </form>
    </body>
</html>